#content_calculator {
  height: 50%;
  background-color: #eee;
}
#content_calculator .level_1 {
  display: inline-block;
  width: 20%;
}
#content_calculator .level_1 .mat-button {
  height: 48px;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  border-right: 1px solid white;
}
#content_calculator .level_1 ::ng-deep .mat-button-focus-overlay {
  background-color: #f47d32;
  color: #ffffff;
}
#content_calculator .level_1 .active {
  background-color: #f47d32;
  color: #ffffff;
}
#content_calculator .level_2 {
  margin-top: 60px;
  position: absolute;
  top: 0px;
  width: 100%;
}
#content_calculator .level_2 .mat-button {
  height: 48px;
  width: 25%;
  text-align: left;
  border-radius: 0px;
  border-right: 1px solid white;
}
#content_calculator .level_2 .mat-button:hover {
  background-color: #2b2a29;
  color: #ffffff;
}
#content_calculator .level_2 .active {
  background-color: #2b2a29;
  color: #ffffff;
}
#content_calculator .level_3 {
  width: 55%;
}
#content_calculator .level_3 .sub {
  position: absolute;
  top: 0px;
  width: 55%;
  overflow: auto;
  height: 400%;
}
#content_calculator .level_3 .sub .accordion {
  border-radius: 0px;
  box-shadow: none;
  background-color: #d8d8d8;
}
#content_calculator .level_3 .sub .accordion .header {
  color: black;
}
#content_calculator .level_3 .sub .accordion .header:hover {
  background-color: #f47d32;
  cursor: pointer;
}
#content_calculator .level_3 .sub .selected {
  background-color: #f47d32;
}
#content_calculator .active_submenu {
  display: inline-grid;
}
#price_calculator ::ng-deep .mat-list-text {
  flex-direction: initial;
}
#price_calculator ::ng-deep .mat-pseudo-checkbox {
  background: #49652d;
}
#price_calculator .list_item {
  width: 50%;
  background-color: rgba(244, 125, 50, 0.15);
}
#type_car {
  margin-bottom: 25px;
}
